@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


.title, h2 {
    color: red;
    font-size: 20px;
    text-align: center;
}


body{
    font-family: 'TikTok Sans', sans-serif;
}